html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
form {
  height: 25px;
  display: block;
}
.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.stats {
  width: 640px;
}
.photo-item {
  margin-top: 50px;
  width: 400px;
  height: 300px;
}
.photo-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container {
  width: 100vw;
}

.favorite-item{
  width: 20px;
  height: 20px;
  top: -300px;
  position: relative;
  left: 20px;
  cursor: pointer;
}
